[Unit]
Description=Clear SocketXP identity on first boot
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "rm -rf /var/lib/socketxp/*"
ExecStartPost=/bin/bash -c "systemctl disable clear-socketxp.service"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
