[Unit]
Description=Install Dataplicity agent on first boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/install-dataplicity.sh
ExecStartPost=/bin/systemctl disable install-dataplicity.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
